# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*WalkingDead
ex02/HiBrain
ex03/UselessViolence
ex04/sed_is_love
ex05/Harl

# VIM
tags
*/tags
*.swp
*.swo
